export AWS_PROFILE="openshift-dev"
export MVN_OPTS="-DskipTests=false -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn"
export JRELEASER_GITHUB_TOKEN=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
