<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cloud Janitor Report</title>
        <style>
            h1 {
               font-size: 1.4em;
            }
            h2 {
               font-size: 1.2em;
            }
            td {
               font-size: 1.0em;
            }
            .task_info {
                background-color:lightgrey;
            }
        </style>
    </head>
    <body>
        <h1>Cloud Janitor Report</h1>
        <table>
            <tr>
                <td>Execution date: </td>
                <td>{tasks.startTimeFmt}</td>
            </tr>
            <tr>
                <td>Dry Run: </td>
                <td>{tasks.config.dryRun}</td>
            </tr>
            {#for input in tasks.config.inputs.entrySet}
            <tr>
                <td> {input.key} </td>
                <td> {input.value}</td>
            </tr>
            {/for}
        </table>
        <h2>Tasks</h2>
        <table width="100%">
            <tbody>
                {#for task in tasks.history}
                <tr class="task_info">
                    <td> {task.startTimeFmt} + {task.durationFmt} </td>
                    <td> {task.simpleName} </td>
                </tr>
                <tr>
                    <td> IN </td>
                    <td>
                        {#for output in task.outputs.entrySet}
                            {output.key} = {output.value}
                        {/for}
                    </td>
                </tr>
                {/for}
            </tbody>
        </table>
    </body>
</html>